/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06 17, 17
    Author     : jethro
*/

/*primary color: #2c3e50
secondary color: #888539*/


h1
{
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    color: #243852;
}

body
{
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar
{
    background: #2c3e50;
    border-radius: 0;
}

.navbar, .navbar a, navbar a:focus
{
    color: #fff;
    transition: 0.5;
}

.navbar li:hover,.navbar li:focus, .navbar li.open, .navbar li.open, .navbar li a:hover, .navbar li a:focus, .navbar li.open a:focus, .nav .open>a
{
    background: #202d3a;
}

.left-nav
{
    padding: 0;
    min-height: 100vh;
    border-right: 1px solid #ddd;
    background: #262f38;
    margin-top: 50px;
}

.left-nav .list-group-item:first-child, .left-nav .list-group-item:last-child
{
    border-radius: 0
}

.left-nav .list-group-item
{
    border-left: none;
    border-right: none;
}

.left-nav li a
{
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.left-nav li a i
{
    padding-right: 10px;
}

.left-nav li a:hover
{
    color: #2c3e50;
}

.left-nav .list-group-item:hover
{
    background: #21ccc7;
    color: #fff;
    cursor: pointer;
}

.main-container
{
    margin-top: 80px;
}

.menu-icon
{
    float: left;
    padding: 2px;
    text-align: center;
    background: url(/images/police.svg) center center no-repeat;
    outline: none;
    border: none;
    width: 36px;
    height: 36px;
    margin: 7px;
}

.navbar-brand
{
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin-left: -10px !important;
}

.dropdown-menu>li>a:hover
{
    color : #fff;
}

.modules
{
    margin-top: 20px;
}

.modules li
{
    display: block;
    float: none;
}

.action-link
{
    margin: 0 5px;
}

.floating-button
{
    padding: 17px 24px;
    font-size: 22px;
    background: #2c3e50;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.floating-button:hover
{
    background: #3b5167;
}

.floating-button i
{
    transition: 0.5s;
}

.floating-button.toggled i
{
    transform: rotate(45deg);
}

.floating-button.toggled
{
    background: #e74c3c;
}

.btn-submit
{
    border: 2px solid #2c3e50;
    background: #2c3e50;
    color: #fff;
    transition: 0.5s;
}

.btn-submit
{
    margin-top: 5px;
}

.btn-submit:hover, .btn-submit:focus
{
    color: #2c3e50;
    background: #fff;
}

.form-group 
{
    margin-bottom: 5px;
}


.map
{
    display: none;
}

.modal-dialog
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
    margin: 0;
}

.modal-dialog .close
{
    font-family: sans-serif;
    font-size: 26px;
    opacity: 1;
    color: #2c3e50;
}

.map-holder
{
    height: 500px;
    padding-right: 0;
}

#map 
{
    position: relative;
    height: 500px;
}

.map #search
{
    position: absolute;
    width: 50%;
    left: 25px;
    border-radius: 0;
    top: 6px;
}

#map:after 
{
    width: 22px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%; left: 50%;
    margin: -40px 0 0 -11px;
    background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
    pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

.stationformholder
{
    padding-left: 0;
}